In [14]:
import pandas as pd
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'sam walton'
    return cell
def convert_eps_cell(cell):
    if cell=="not available":
        return None
    return cell

In [15]:
df=pd.read_excel(r'C:\Users\HP\Desktop\csv-files\pandas\stock_data.xlsx',"Sheet1", converters={
    'people': convert_people_cell,
    'eps':convert_eps_cell
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [17]:
df.to_excel("new.xlsx",sheet_name="stocks")

In [21]:
df.to_excel("new1.xlsx",sheet_name="stocks",startrow=1,startcol=2,index=False)